.postlist__item {
  width: 100%;
  margin-top: 5px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  font-size: 2.2rem;
}

.postlist__item p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.postlist__item-btn-group {
  display: flex;
}

.delete {
  color: rgb(255, 7, 7);
}

.star {
  color: rgb(109, 106, 106);
}

.important {
  color: rgb(199, 35, 35);
  font-weight: bold;
}

.btn-important {
  color: rgb(165, 218, 60);
}

.complete {
  text-decoration: line-through;
}

.btn-complete {
  color: rgb(69, 224, 63)
}

@media (max-width: 668px) {
  .postlist__item-btn-group {
    flex-direction: column;
  }

  .mr-5px {
    margin-right: 0;
    margin: 5px 0;
  }
}